{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs - Kinsley</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <section class="rooms-section">
        <h1>Our Blog</h1>
        <p>Laborum accusantium libero commodi. Voluptate consequatur itaque expedita accusamus impedit perspiciatis asperiores necessitatibus assumenda magnam ipsa.</p>
        <div class="breadcrumb">
            <span><a href="{% url 'rooms:room_list' %}">Home</a></span> > <span class="current">Blog</span>
        </div> <br>
        <div  style="text-align: center; display: inline-block; background-color: #ffffff; color: #f5a623; padding: 30px 30px; border-radius: 25px; font-size: 0.9rem; margin-bottom: 30px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <a href="{% url 'blog:create_blog' %}" class="btn" style="color: #fcffff; text-decoration: none; font-weight: bold; ">Post a Blog</a>
            
            <p style="margin: 30px 0 0;">Share your experience with us!</p>
        </div>

    </section>
    <section class="rooms-section">



        <div class="filters">
            <a href="{% url 'blog:blog_list' %}?category=all" class="filter {% if selected_category == 'all' %}active{% endif %}">All Blogs</a>
            {% for category in categories %}
                <a href="{% url 'blog:blog_list' %}?category={{ category.name|lower }}" class="filter {% if selected_category == category.name|lower %}active{% endif %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
    <section class="container">
        {% for blog in blogs %}
        <div class="room-card">
            <a href="{% url 'blog:blog_detail' blog.id %}">
                {% if blog.image1 %}
                    <img src="{{ blog.image1.url }}" alt="{{ blog.title }}">
                {% else %}
                    <img src="{% static 'images/placeholder.jpg' %}" alt="No image">
                {% endif %}
            </a>
            <div class="room-details">
                <div class="info">
                    <span>{{ blog.author.get_full_name }}</span>
                    <span>{{ blog.created_at|date:"F d, Y" }}</span>
                </div>
                <h3><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h3>
                <p>{{ blog.description|truncatewords:20 }}</p>
            </div>
        </div>
        {% empty %}
        <p>No blogs available in this category.</p>
        {% endfor %}
    </section>
    {% include 'footer.html' %}
</body>
</html>