{% load static %}
<link rel="stylesheet" href="{% static 'footer.css' %}">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h2>Kinsley</h2>
            <p>Sequi dolores ratione eos eveniet provident soluta. Omnis nesciunt sit eos at, eius voluptatum rem corporis...</p>
            <div class="social-icons">
                <a href="#"><i class="fas fa-times"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-menu">
            <h3>Menu</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-meet">
            <h3>Meet Kinsley</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Restaurant</a></li>
            </ul>
        </div>
        <div class="footer-instagram">
            <h3>Instagram</h3>
            <div class="instagram-gallery">
                <img src="{% static 'images/about-1-140x140.jpg' %}" alt="Instagram 1">
                <img src="{% static 'images/about-2-140x140.jpg' %}" alt="Instagram 2">
                <img src="{% static 'images/about-3-140x140.jpg' %}" alt="Instagram 3">
                <img src="{% static 'images/about-4-140x140.jpg' %}" alt="Instagram 4">
                <img src="{% static 'images/about-5-140x140.jpg' %}" alt="Instagram 5">
                <img src="{% static 'images/about-6-140x140.jpg' %}" alt="Instagram 6">
            </div>
        </div>
    </div>
</footer>