{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<nav class="navbar">
    <div class="logo"><h2>Kinsley</h2></div>
    <div class="menu">
        <a href="#">Home</a>
        <a href="{% url 'rooms:room_list' %}">Rooms</a>
        <a href="#">About</a>
        <a href="#">Restaurant</a>
        <a href="#">Blog</a>
        <a href="#">Shop</a>
        <a href="#">Contact</a>
    </div>
    <div class="book">
        <button>Book now</button>
        <i class="fas fa-shopping-bag"></i>
    </div>
</nav>